
<div class="container">
    <navigation1 class="row"></navigation1>

    <div class="row text-center">

        <form name="vm.examTitle" ng-submit="vm.onSubmit1(vm.exam)">

            <div class="form-inline">

                <input id="exam" name="exam" class="form-control" ng-model="vm.exam" type="text" placeholder="Enter title of exam....." autocomplete="off" required> </input>
                <button type="submit" class="btn btn-primary" ng-if="!vm.submittedExamTitleNotEmpty()">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button type="reset" class="btn" style="color:snow; background-color: black" ng-click="vm.onReset() " ng-if="!vm.submittedExamTitleNotEmpty()">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
            </div>
        </form>
    </div>


    <div class="row"><div class="col-xs-12" style="height: 50px;"></div></div>
    <div class="row text-center" ng-if="vm.submittedExamTitleNotEmpty()">
        <h4> Select questions for the exam</h4>
    </div>
    <div class="row" ng-if="vm.submittedExamTitleNotEmpty()">

        <div class="col-xs-5">
            <select class="form-control" style = "height: 200px;" ng-model="vm.leftSelect" multiple ng-options="option.question for option in vm.left track by option.question_id"><option>{{option.question}}</option></select>
        </div>

        <div class="col-xs-2 text-center">
            <div class="row">
                <div class="col-xs-12">
                    <button class = "btn btn-primary" ng-click="vm.transfer(vm.leftSelect, vm.left,vm.right)">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="row"><div class="col-xs-12"></div></div>
            <div class="row">
                <div class="col-xs-12">
                    <button class = "btn btn-primary" ng-click="vm.transfer(vm.rightSelect, vm.right,vm.left)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                </div>
            </div>
        </div>

        <div class="col-xs-5">
            <select class="form-control" style = "height: 200px;" ng-model="vm.rightSelect" multiple ng-options="option.question for option in vm.right track by option.question_id"><option>{{option.question}}</option></select>
        </div>
    </div>

    <div class="row"><div class="col-xs-12" style="height: 50px;"></div></div>

    <div class="row"  ng-if="vm.selectedQuestionsNotEmpty()">

        <h4>Exam with Selected Questions </h4>

        <div class= "row">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Exam : {{vm.submittedExamTitle[0].exam}}</h3>
                <div class="pull-right">
                    <button class="btn btn-xs btn-primary" ng-click="vm.onSubmit2(vm.right)">
                        <span class="glyphicon glyphicon-ok"></span>
                        Submit
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <ul class = "list-group">
                    <li class = "list-group-item" ng-repeat="option in vm.right">
                    {{option.question}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>



    <div class="row" ng-if="!vm.submittedExamTitleNotEmpty()">
        <div class="col-xs-6" ng-repeat="ExamResponse in vm.ExamResponseList">
            <ul class="list-group">
                <li class="list-group-item active" >
                    <h3 class="panel-title pull-left">Title : {{ExamResponse.exam.exam}}</h3>

                    <div class="clearfix"></div>
                </li>
                <li class="list-group-item" style="background-color: snow">
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="questionResponse in ExamResponse.questionResponseList" style="background-color: black;color: snow">
                            {{questionResponse.question.question}}
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="choice in questionResponse.choiceList" style="background-color: snow;color: black">{{choice.choice}}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>