<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-4">
        <label>ALL Questions </label>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" ng-repeat="option in vm.left" ng-click="vm.transfer([option],vm.left,vm.right)">
                {{option.question}}
            </button>

        </div>
    </div>
    <div class="col-xs-4">
        <label>Selected Questions </label>
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" ng-repeat="option in vm.right" ng-click="vm.transfer([option],vm.right,vm.left)">
                {{option.question}}
            </button>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <button type="submit" class="btn btn-default btn-info pull-right" ng-click="vm.onSubmit(vm.right)">Create</button>
    </div>
</div>