<div class="container">
    <navigation1 class="row"></navigation1>

    <div class="row">
        <div class="col-xs-12">
            <form name="vm.demo" ng-submit="vm.onSubmit1(vm.question)" class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-xs-12">
                        <label for="question">Question</label>
                        <textarea id="question" name="question" class="form-control" ng-model="vm.question" type="text" placeholder="Enter question....." autocomplete="off" required> </textarea>
                    </div>
                </div>

                <div class="panel-footer text-right" ng-if="!vm.submittedQuestionEmpty()">
                    <button type="submit" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-ok"></span>
                        Submit
                    </button>
                    <button type="reset" class="btn btn-xs" style="color:snow; background-color: black" ng-click="vm.onReset()">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        Reset
                    </button>
                </div>
            </form>
        </div>


    </div>
    <div class="row" ng-if="vm.submittedQuestionEmpty()">
        <div class="row"><div class="col-xs-12" style = "height: 50px;"></div></div>

        <h4>Please select choices from the below list</h4>

        <div class="row">

            <div class="col-xs-5">
                <select class="form-control"  style = "height: 200px; "ng-model="vm.leftSelect" multiple ng-options="option.choice for option in vm.left track by option.choice_id"><option>{{option.choice}}</option></select>
            </div>

            <div class="col-xs-2 text-center">
                <div class="row">
                    <div class="col-xs-12">
                        <button class = "btn btn-primary" ng-click="vm.transfer(vm.leftSelect, vm.left,vm.right)">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>

                <div class="row"><div class="col-xs-12"></div></div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class = "btn btn-primary" ng-click="vm.transfer(vm.rightSelect, vm.right,vm.left)"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    </div>
                </div>
            </div>

            <div class="col-xs-5">
                <select class="form-control"  style = "height: 200px; " ng-model="vm.rightSelect" multiple ng-options="option.choice for option in vm.right track by option.choice_id"><option>{{option.choice}}</option></select>
            </div>
        </div>

    </div>


    <div class="row"  ng-if="vm.selectedChoicesEmpty()">

        <div class="row"><div class="col-xs-12" style = "height: 50px;"></div></div>

        <h4>Please select the correct option for entered Question </h4>

        <div class= "row">

            <form class="panel panel-default" ng-submit="vm.onSubmit2(vm.correctOption,vm.right)">
                <div class="panel-heading">
                    <h3 class="panel-title pull-left">Question : {{vm.submittedQuestion[0].question}}</h3>

                    <div class="pull-right">
                        <button type="submit" class="btn btn-xs btn-primary">
                            <span class="glyphicon glyphicon-ok"></span>
                            Submit
                        </button>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="panel-body" ng-repeat = "option in vm.right">
                        <input class = "form-check-input" type="radio" name="choice" ng-model="vm.correctOption" ng-value="option">
                            {{option.choice}}
                        </input>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-if="!vm.submittedQuestionEmpty()">
        <div class="row"><div class="col-xs-12" style = "height: 50px;"></div></div>

        <div class="col-xs-6" ng-repeat="QuestionResponse in vm.QuestionList">
            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title pull-left">Question : {{QuestionResponse.question.question}}</h3>
                <button  class="btn btn-xs pull-right" ng-click="vm.destroy(QuestionResponse.question.question_id)" style="color:snow; background-color: black">
                    Delete
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body" ng-repeat = "choice in QuestionResponse.choiceList">
                {{choice.choice}}
            </div>
            </div>
        </div>
    </div>



    </div>


</div>



