<form name="vm.loginBox" ng-submit="vm.onSubmit(vm.username, vm.password)" class="panel panel-default">

    <div class="panel-body">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i> </span>
                <input id="username" name="username" class="form-control" ng-model="vm.username" type="text" placeholder="Username" autocomplete="off" required> </input>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" name="password" class="form-control" ng-model="vm.password" type = "password" placeholder="Password" required> </input>
            </div>
        </div>

        <button type="submit" class="btn btn-xs btn-primary pull-right">
            Login
            <span class="glyphicon glyphicon-log-in"></span>
        </button>
    </div>

</form>
