<div ng-switch on="vm.isEditingChoice">


            <li class="list-group-item" ng-switch-when="false">

                {{vm.data.choice}}

                <span class = "tag tag-default float-xs-right pull-right">
                    <a ng-click="vm.editChoice()" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-click="vm.removeChoice()" class="btn btn-xs" style="color:snow; background-color: black" >
                        <span class="glyphicon glyphicon-trash"></span>

                    </a>

                </span>

            </li>


            <div class="clearfix"></div>



    <choice-form ng-switch-when="true" data="vm.data" on-submit="vm.submitEditedChoice" on-reset="vm.resetEdited"></choice-form>

</div>